<%= bootstrap_form_for list do |f| %>
  <%= f.text_field :title %>
  <div class="recommendation-form">
  <% 10.times do |n| %>
  	<div id="<%= n %>">
			<%= f.fields_for :recommendations, list.recommendations.new do |rf| %>
          <%= rf.collection_select :mobile_app_id, MobileApp.order(:name).limit(10), :id, :name, :include_blank => true %>
				  <%= rf.text_area :comment %>
				  <%= rf.number_field :rating %>
          <%= rf.hidden_field :user_id, value: current_user.id %>
			<%- end %>
		</div>
  <% end %>
	</div>		
  <a href="#" id="add_recommendation_form">+</a>
  <%= f.submit %>
<%- end %>