
<div class="btn-group pull-right">
  <%= link_to like_list_path(@list), :method => "put", class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-heart"></span>
    <%= @list.get_upvotes.size %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to "Edit", edit_list_path, class: "btn btn-default" %>
    <%= link_to "Delete", list_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
  <% end %>
</div><!-- for <div class="btn-group pull-right">  --> 

<div id="episodes">
  <div class="wrapper_skinny">
    <ul class="cf">
      <div class="episode_thumbnail">
            <a href="episode.html"><% @user.lists.each do |list| %></a>
      </div> <!-- for <div class="episode_thumbnail">  -->     
  </div><!-- for <div class="wrapper_skinny"> -->
</div><!-- for <div id="episodes"> -->
  
<div class="episode_overview">
    <% list.recommendations.each do |recommendation| %>
</div><!-- for <div class="episode_overview"> -->
   
<div class="episode_thumbnail">
    <a href="episode.html"><% object = LinkThumbnailer.generate(recommendation.mobile_app.url) %></a>
</div><!-- for <div class="episode_thumbnail"> -->

<div class="episode_overview">
  <p class="description"><%= object.description %></p>
    <img src="<%= object.images.first.src.to_s %>", width="110" , height="110"> </img>
  <% end %>
  <% end %>
</div><!-- for <div class="episode_overview"> -->







<%#= link_to post_downvote_path(post), :remote => true, :method => "put" %>
<!-- <div class="actions">
 <%# if #UPVOTED BY USER %>
  <%#= link_to unlike_list_path(@list), method: :put, class: "btn btn-default" do %>
   <span class="glyphicon glyphicon-heart"></span>
   <%#= @list.get_upvotes.size %>
 <%# end %>
 <%# else %>
 <%#= link_to like_list_path(@list), method: :put, class: "btn btn-default" do %>
   <span class="glyphicon glyphicon-heart-empty"></span>
   <%#= @list.get_downvotes.size %>
 <%# end %>
 <%# end %>
</div> -->