<div id="banner" class="list_banner">
  <h1><%= @list.title %></h1>
</div> <!-- for div id="banner"  -->

<div class="wrapper_skinny">
  <ul class="cf">
    <ol>
      <% @list.recommendations.each do |recommendation| %>
      <%#= link_to recommendation.mobile_app.name, mobile_app_recommendations_path(recommendation.mobile_app_id) %>
       
        <div class="episode_thumbnail">
          <li></li>
          <a href="episode.html"><% object = LinkThumbnailer.generate(recommendation.mobile_app.url) %></a>
          <img src="<%= object.images.first.src.to_s %>", width="110" , height="110"> </img>
        </div>

        <!-- <div class="episode_overview"> -->
          <%= recommendation.mobile_app.name %>
          <p class="description"><%= object.description %></p>
          <p class="description"><%= recommendation.comment %>
       
        <!-- </div>for <div class="episode_overview"> -->
        </br>
      <% end %>
    </ol>
  </ul>

  <div class="btn-group pull-right">
    <% if @user.voted_as_when_voted_for @list %>
      <%= link_to unlike_list_path(@list), :method => "put", class: "btn" do %>
        <span class="glyphicon glyphicon-heart"></span>
      <%= @list.get_upvotes.size %>
      <% end %>
    <% else %>
      <%= link_to like_list_path(@list), :method => "put", class: "btn" do %>
        <span class="glyphicon glyphicon-heart"></span>
        <%= @list.get_upvotes.size %>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <!-- EDIT LIST NOT WORKING -->
      <%#= link_to "Edit", edit_list_path, class: "button button_highlight button_block" %>
      <%= link_to "Delete", list_path, method: :delete, data: { confirm: "Are you sure?" }, class: "button button_highlight button_block" %>
    <% end %>

  </div> 
</div><!-- for <div class="wrapper_skinny"> -->