<div id="banner" class="list_banner">
  <h1><%= @list.title %></h1>
</div> <!-- for div id="banner"  -->

<div class="wrapper_skinny">
  <ul class="cf">
    <ol>
      <% @list.recommendations.each do |recommendation| %>
      <%#= link_to recommendation.mobile_app.name, mobile_app_recommendations_path(recommendation.mobile_app_id) %>
       
        <div class="episode_thumbnail">
            <a href="episode.html"><% object = LinkThumbnailer.generate(recommendation.mobile_app.url) %></a>
          
          </br>
        </div>
          <h1><img class="img--center" src="<%= object.images.first.src.to_s %>", width="75", height="75"> </img><%= recommendation.mobile_app.name %>
<p><%= object.description %></p></h1>
          <p class="description"><%= recommendation.comment %>
        </br>
      <% end %>
    </ol>
  </ul>

  <div class="btn-group pull-right">
  <ul>
    <% if user_signed_in? %>
      <% if @user.voted_as_when_voted_for @list %>
        <%= link_to "Unfavorite", unlike_list_path(@list), :method => "put", class: "button button_highlight button_block"%>
<!--           <span class="glyphicon glyphicon-heart"></span>
        <li><%#= @list.get_upvotes.size %></li> -->
        <%# end %>
      <% else %>
        <%= link_to "Favorite", like_list_path(@list), :method => "put", class: "button button_highlight button_block"%>
          <!-- <span class="glyphicon glyphicon-heart"></span>
          <li><%#= @list.get_upvotes.size %></li> -->
        <%# end %>
      <% end %>
    <% else %>
      <%= link_to new_user_registration_path, :method => "get", class: "button button_highlight button_block" do %>
        <span class="glyphicon glyphicon-heart"></span>
      <li><%= @list.get_upvotes.size %></li>
      <% end %>
    <% end %>

    <% if user_signed_in? && @list.id == current_user.id %>
      <!-- EDIT LIST NOT WORKING -->
      <%#= link_to "Edit", edit_list_path, class: "button button_highlight button_block" %>
      <%= link_to "Delete", list_path, method: :delete, data: { confirm: "Are you sure?" }, class: "button button_highlight button_block" %>
    <% end %>

  </div> 
  </ul>
</div><!-- for <div class="wrapper_skinny"> -->