<%= bootstrap_form_for [recommendation.mobile_app, recommendation] do |f| %>
  <p><%= f.text_field :comment %></p>
  <p><%= f.number_field :rating %></p>
  <p><%= f.text_field :tag_names %></p>
  <p><%= f.submit %></p>
<%- end %>
