<div id="podcast_show" >
  <div id="show_banner">
    <div class="wrapper_skinny">
        <h1><%= @user.name %>'s Profile</h1>
    </div> <!-- for <div class="wrapper_skinny"> -->
  </div><!-- for <div id="show_banner"> -->

  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li class="current">Lists</li>
        <li><%= link_to "New List", new_list_path %></li>
        <li><%= link_to "My Favorites", user_favorites_path %></li>
        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
      </ul>
    </div><!-- for div class="wrapper_skinny"> -->
  </div><!-- for div id="links"> -->

  <div id="episodes">
    <div class="wrapper_skinny">
      <div class="episode_thumbnail">
        <% @user.lists.each do |list| %>
        <%= link_to list.title, list_path(list) %>
        <%= list.description %></br>
        <% end %>
      </div>  <!-- for <div class="episode_thumbnail"> -->
    </div> <!-- for <div class="wrapper_skinny"> -->
  </div> <!-- for <div id="episodes"> -->

</div><!-- for <div id="podcast_show"> -->
    

       

